* {
    /* To remove any unwanted blank spaces from the webpage */
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fcf6f0;
    font-family: 'Roboto', sans-serif;
}

/* I have inserted a background image*/
.headerImage {
    background-image: url(assets/banner-purple/6198806.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* To cover the background fully. */
    height: 378px;
}

.logo {
    /* z-index: 2; */
    /* padding-top: 120px; */
    height: 150px;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}

nav {
    display: flex;

    position: relative;
    top: 0;
    /* This is to stick the navbar to the image in the header even if we resize the window */

    background-color: rgb(39, 79, 112);
    color: aliceblue;
}

nav h1 {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    margin-left: 42%;
    padding: 5px;
    height: 50px;
}

.Website-link {
    padding: 5px;
    margin-top: 30px;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    /* This to avoid the DEFAULT change in color of the anchor tag when it is clicked or hovered over. */
}

a {
    transition: 0.2s all linear;
    padding: 0;
    margin: 0;
    text-decoration-line: none;
    /* To remove the underline from the anchor tag */
    font-family: 'Pacifico', cursive;
}

nav a:hover {
    border-radius: 10px;
    color: rgb(27, 28, 29);
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    cursor: pointer;
    font-weight: 700;

}


.formContainer {
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 27%;
    padding-bottom: 150px;
    padding-right: 27%;
    /* I have given padding in this way so as to center the form appropriately. */
}

form {
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    margin: 0 auto;
    padding: 40px;
    height: fit-content;
    min-width: max-content;
    font-size: 22px;
    border-radius: 20px;
    color: rgb(27, 28, 29);
    box-shadow: 10px 10px 8px 10px #888888;
    font-weight: 700;
}

::placeholder {
    color: rgb(255, 255, 255);
}


input:focus {
    /* This is to remove the black outline that appears when an input box is selected */
    outline: none;
}

/* I have styled the radioboxes and checkboxes below */
input[type="radio"] {
    appearance: none;
    transition: 0.2s all linear;
    /* margin-right: 5px; */
    height: 15px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    top: 6px;
}

/* Since we have set the appearence to none for radio boxes, it will also remove the appearence of 
the checked radio boxes so we have to style them again. */
input[type="radio"]:checked {
    background-color: #184649;
}

/* Same for checkboxes */
input[type="checkbox"] {
    transition: 0.2s all linear;
    appearance: none;
    height: 15px;
    width: 10px;
    position: relative;
    top: 6px;
}

input[type="checkbox"]:checked {
    background-color: #28d61b;
}

/* In the following lines, i have selected and styled elements differently to get a more clean output  */
fieldset {
    padding: 20px;
    border: 0px;
}

legend {
    font-size: 45px;
}

label,
textarea,
button {

    margin: 10px;
    margin-left: 20px;
}

input,
select {

    padding: 5px;
    padding-left: 10px;
    margin: 10px;
    font-weight: 600;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(74, 219, 230);
    color: rgb(116, 113, 113);
}

#NumberOfpizza {
    width: 75px;
}

.crustType,
.eatType {
    margin: 10px;
    margin-left: 20px;
}

.crustType input,
.eatType input {
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 7px;
}

.crustType label,
.eatType label {
    margin-left: 0px;
}

#member {
    margin-bottom: 5px;
}

#Instructions {
    padding: 5px;
    margin-top: 22px;
    background-color: rgb(74, 219, 230);
    color: rgb(242, 240, 240);
    font-weight: 600;
}

#ins {
    position: relative;
    top: 10px;
}

#Satisfaction {
    margin-left: 20px;
}

button {
    border: 0px;
    border-radius: 3px;
    padding: 7px;
    background-color: rgb(74, 219, 230);
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
    margin: 20px;
}

/* for the footer i have displayed a small copyright disclaimer and a reference with half opacity */
footer {
    font-size: 10px;
    background-color: black;
    position: fixed;
    bottom: 0;
    color: aqua;
    padding: 2px;
    padding-left: 4px;
    opacity: 0.6;
    width: 100%;
}